Repository nils-woxholt/medical-tracker, changes with the owners that CODEOWNERS names for each.
All owners: @medicaltracker-team/admin, @medicaltracker-team/backend-team, @medicaltracker-team/api-team, @medicaltracker-team/data-team, @medicaltracker-team/qa-team, @medicaltracker-team/frontend-team, @medicaltracker-team/ui-team, @medicaltracker-team/devops-team, @medicaltracker-team/docs-team, @medicaltracker-team/product-team, @medicaltracker-team/legal-team, @medicaltracker-team/security-team

bunch of changes to get tests working
  backend/app/api/v1/endpoints/medications.py
  backend/app/core/dependencies.py
  backend/app/core/middleware.py
  backend/app/main.py
  backend/app/models/base.py
  backend/app/services/medication.py
  backend/pyproject.toml
  backend/uv.lock
Owners: @medicaltracker-team/api-team, @medicaltracker-team/backend-team, @medicaltracker-team/data-team, @medicaltracker-team/admin

feat(004): add acceptance matrix and complete specification checklist
  specs/004-lean-mode-use/checklists/requirements.md
  specs/004-lean-mode-use/spec.md
Owners: @medicaltracker-team/product-team

feat(004): phase1 scaffolding models services and migration placeholder
  backend/alembic/versions/20251029_000000_symptom_type_initial.py
  backend/app/models/audit_entry.py
  backend/app/models/symptom_log.py
  backend/app/models/symptom_type.py
  backend/app/services/duration_validator.py
  backend/app/services/severity_mapping.py
Owners: @medicaltracker-team/data-team, @medicaltracker-team/backend-team

004 planning
  .github/copilot-instructions.md
  docs/feature_ideas/251029-use referential integrity.md
  specs/004-lean-mode-use/contracts/feature-004.openapi.yaml
  specs/004-lean-mode-use/data-model.md
  specs/004-lean-mode-use/plan.md
  specs/004-lean-mode-use/research.md
  specs/004-lean-mode-use/tasks.md
Owners: @medicaltracker-team/devops-team, @medicaltracker-team/docs-team, @medicaltracker-team/product-team

chore(004): mark Phase 1 setup tasks completed
  specs/004-lean-mode-use/tasks.md
Owners: @medicaltracker-team/product-team

feat(feature-004): foundational referential integrity phase complete
  backend/alembic/versions/20251029_000000_symptom_type_initial.py
  backend/app/models/symptom_log.py
  backend/app/models/symptom_type.py
  backend/app/services/active_guard.py
  backend/app/services/duration_validator.py
  backend/app/services/medication_log_service.py
  backend/app/services/severity_mapping.py
  backend/app/services/symptom_log_service.py
  backend/app/services/symptom_type_service.py
  backend/tests/contract/test_feature004_openapi.py
  backend/tests/integration/test_migration_constraints.py
  backend/tests/unit/test_active_guard.py
  backend/tests/unit/test_duration_validator.py
  backend/tests/unit/test_severity_mapping.py
  specs/004-lean-mode-use/tasks.md
Owners: @medicaltracker-team/data-team, @medicaltracker-team/backend-team, @medicaltracker-team/qa-team, @medicaltracker-team/product-team

CODEOWNERS:

# Global owners - for all files unless overridden
* @medicaltracker-team/admin

# Backend specific ownership
backend/ @medicaltracker-team/backend-team
backend/app/api/ @medicaltracker-team/api-team
backend/app/models/ @medicaltracker-team/data-team
backend/app/services/ @medicaltracker-team/backend-team
backend/tests/ @medicaltracker-team/qa-team
backend/alembic/ @medicaltracker-team/data-team

# Frontend specific ownership
frontend/ @medicaltracker-team/frontend-team
frontend/src/app/ @medicaltracker-team/frontend-team
frontend/src/components/ @medicaltracker-team/ui-team
frontend/tests/ @medicaltracker-team/qa-team

# Infrastructure and DevOps
.github/ @medicaltracker-team/devops-team
scripts/ @medicaltracker-team/devops-team
Dockerfile* @medicaltracker-team/devops-team
docker-compose*.yml @medicaltracker-team/devops-team
.pre-commit-config.yaml @medicaltracker-team/devops-team

# Configuration files
*.json @medicaltracker-team/admin
*.yaml @medicaltracker-team/admin
*.yml @medicaltracker-team/admin
*.toml @medicaltracker-team/admin
.env* @medicaltracker-team/devops-team

# Documentation
README.md @medicaltracker-team/admin
docs/ @medicaltracker-team/docs-team
specs/ @medicaltracker-team/product-team

# Security and compliance
LICENSE @medicaltracker-team/legal-team
.secrets.baseline @medicaltracker-team/security-team
